body{
    background-color: rgba(208, 205, 241, 0.911);
    margin: 0px;
}
h1{
    text-align: center;
    color: rgb(150, 59, 59);
    font-size: 50px;
    font-family: 'Overlock', cursive;
    margin: 2% 
}
p{
    text-align: center;
    color: rgb(10, 10, 49);
    font-family: 'Overlock', cursive;
    font-size: 20px;
    padding: 1%
}
textarea{
    background-color: snow;
    align-content: center;
    width: 100%;
    min-width: 50%;
    height: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px
}
label{
    color: black;
    font-size: 20px;
    font-family: 'Overlock', cursive;
    display: block;
    text-align: left
}
.formularios{
    border: 1px solid rgba(70, 66, 66, 0.589);
    margin: 10px 10%;
    padding: 4%;
}
input.focus{
    border: 1px solid paleturquoise
}
input{
    margin-bottom: 0;
    background: white;
    color: black;
    box-sizing: border-box;
    display: block;
    text-align: center;
    overflow: auto;
    border: 1px solid rgb(156, 155, 155);
    font-size: 18px
}
button{
    background: rgb(1, 13, 36);
    color: white;
    box-sizing: border-box;
    display: block;
    border: 1px solid black;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    font-family: 'Vast Shadow', cursive;
    border-radius: 8px;
    width: 180px;
    margin: 25px;
    cursor: pointer
}
button:hover{
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.24), 0 15px 105px 0 rgba(0,0,0,0.19);
}
.container-buttons{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 500px) {
    .container-buttons {
        display: block;
        justify-content: center;
    }
}
footer{
    background-color: #00004d;
    font-size: 12px;
    color: white;
    font-family: 'Overlock', cursive;
    text-align: center;
    padding: none;
}